body{
text-align: center;
}
#title{
  background-color: #00adb5;
  padding-bottom: 25%;
}
#profile{
  padding-bottom: 17%;
}
#Education{
  background-color:#00adb5 ;
  padding-bottom: 7%;
}
#skills{
  padding-bottom: 7%;
}
#footer{
  background-color: #393e46;
  padding-bottom: 5%;
}
h1{
  font-family: 'Amiri', serif;
  color: #00adb5;
  padding-top: 5%;
  font-size: 3rem;
  line-height: 1.5;
}
h2{
  font-family: 'Amiri', serif;
  color: #00adb5;
  padding-top: 5%;
  font-size: 2rem;
  font-weight: lighter;
}
h3{
font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #40514E;
  line-height: 2;
}

hr{
  border-top: 0.1px solid #c9d6df;
  width: 50%;}

.big-heading{
  font-family: 'Raleway', sans-serif;
  font-size: 3.62rem;
  color: #fff;
  padding-top: 17%;
  line-height: 1;
}
.cover-heading{
  font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #fff;

}
.edu-heading{
  font-family: 'Amiri', serif;
  color: #fff;
  padding-top: 5%;
  font-size: 3rem;
  line-height: 1.5;
}
.edu-description{
  padding-left: 150px;
  padding-right: 150px;
  text-align: left;
  font-family: 'Playfair Display', serif;
  line-height: 2;
  display: block;
}
.intro{
  font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #40514E;
    line-height: 2;
    text-align: justify;
}
.about{
  font-family: 'Amiri', serif;
  color: #00adb5;
  font-size: 2rem;
  font-weight: lighter;
}
.footer-para{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #c9d6df;
}
.cover-rule{
  border-top: 0.1px solid #e4f9f5;
  width: 50%;
  margin-top: 3%;
}
@media (max-width: 1110px) {
  .edu-description{
    padding-left:50px;
    padding-right: 50px;
    text-align: left;
  }
  .top-buffer {
    margin-top:7%;
    margin-left: 7%;
    margin-right: 7%;
  }
}
@media (max-width: 766px) {
  .edu-description{
    padding-left:50px;
    padding-right: 50px;
    text-align: left;
    display: none;
  }
}
@media (max-width:590px) {
  .big-heading{
    font-size: 3rem;
    line-height: 1;
  }

}
.navbar-nav li{
  padding-left:30px;
  padding-right:30px;
}
.about-box{
  padding-left: 25%;
  padding-right: 25%;
}
.profile-box{
  padding-top: 3%;
}

.top-buffer {
  margin-top:7%;
  margin-left: 14%;
  margin-right: 7%;
}
.no-bullets{
  list-style-type: none;
  font-size: 1rem;
  line-height: 2;
  text-align: left;
  padding-left: 30px;
}
.skill-title{
  padding: 0 15px 0 15px;
}
.skill-icon{
  color:#dae1e7;
  float: right;
  padding: 3px 3px 0 3px;
}
.skill-star{
  color:#00adb5;
  float: right;
  padding: 3px 3px 0 3px;
}
.skill-box{
  padding-top:50px;
  margin-left: 8%;
  margin-right: 8%;
}
.social-icon{
  margin: 30px 10px 20px 10px;
  color: #c9d6df;
}
